   /* *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container{
            width: 100vw;
            height: 100vh;
            background-color:#8BC6EC ;
            background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100% );
            display: flex;
            justify-content: center;
            align-items: center;
        } 
        .card{
            width: 300px;
            height: 450px;
            background-color: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 20px;
        }
        .card img{
                 height: 57%;
                 border-radius: 10px;
        }
        .card h2{
            font-weight: bold;
            font-size: 1rem;
        } */
           /* Second card style */
           *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .background{
            width: 100vw;
            height: 100vh;
            display: flex;
            background-color: #75bbeb;
            justify-content: center;
            background-image: linear-gradient(135deg,#8BC6EC 0%, #9599E2 100%);
        }

        .Container{
            width: 100vw;
            height: 100vh;
            background-color:#8BC6EC ;
            background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100% );
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card{
            /* width: 300px; */
            /* height: 500px; */
            background-color: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* gap: 20px; */
            padding: 20px;
           
        }
        .cardintro{
            text-align: center;
        }
        .card img{
            /* width: 100%; */
            height: 80px; 
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .textBox{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 35%;
            text-align: center;
        }
        
        .actionbuttonContainer{
            display: flex;
            justify-content: space-between;
        }
        .para{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        .button{
             /* width: 80%; */
            /* height: 50%; */
            background-color: rgb(26, 115, 232);
            color: white; 
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 10px;
            /* box-shadow: 0 10px 20px rgba(0, 0, 0,0.19), 0 6px 6px rgba(0, 0, 0,0.23); */
        }
        .cancelBox a{
            text-decoration: none;
            color: rgb(46, 43, 43);
            font-weight: bold;
        }
         .para{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 6vh;
            color: rgb(95, 99, 104);
            font-weight: 14px;
         
         }
         .ancor{
            color: rgb(26,115,232);
            font-weight: 200;
            letter-spacing: 0.25px;
            font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
            position: relative;
         }
         .sign{
    color: rgb(32,33,36);
    font-size: 24px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 400;
    line-height: 1.3333;
    word-break: break-word;
    
         }
         .signpara{
            color: rgb(32,33,36);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: 10px;
    

         }